{% extends "base.html" %}

{% block title %}Про заклад - Eleia School{% endblock %}

{% block content %}
<div>
    <div class="section">
        <div class="text">
            <h1>Академія прикладної програмної інженерії</h1>
            <p>
                У нас є все, щоб здобути успішну професію майбутнього. Індивідуальна освітня траєкторія. 
                Понад 18 дисциплін із конкретними практичними компетенціями. Професійні викладачі.
            </p>
        </div>
        
        <img src="{{ url_for('static', filename='images/academy.webp') }}" alt="Gimnazia", width="300">
    </div>

    <div>
        <h1>Як навчаються в IT Академії?</h1>
        <div class="grid">
            <div class="step">
                <br>
                <br>
                <h2>Інтерактивна навчальна платформа</h2>
                <p>
                    Учні проходять навчання за спеціально створеними цифровими матеріалами, адаптованими під онлайн‑платформу, що забезпечує зручність, наочність і поступове ускладнення тем.
                </p>
            </div>
            <div class="step">
                <br>
                <br>
                <h2>Регулярне спілкування з викладачем</h2>
                <p>
                    Передбачені щотижневі онлайн‑зустрічі з викладачем з кожного предмета, а також постійна підтримка у чаті без обмежень за часом чи кількістю звернень.
                </p>
            </div>
            <div class="step">
                <br>
                <br>
                <h2>Комплексне опрацювання тем</h2>
                <p>
                    Кожне заняття включає консультацію, відповіді на запитання, розбір типових помилок, аналіз звітів учнів і пояснення теоретичних та практичних аспектів теми.
                </p>
            </div>
            <div class="step">
                <br>
                <br>
                <h2>Тестування та практичні завдання</h2>
                <p>
                    До кожного уроку додається короткий тест для самоперевірки, а завдання на самостійну роботу містять розробку тематичного програмного коду.
                </p>
            </div>
        </div>
    </div>
    <p style="font-size: small; margin-bottom: 50px;">
        Для отримання додаткової освіти без переведення зі своєї школи достатньо зареєструватися і оплатити навчання
    </p>

    <div>
        <div>
            <h1>Наші пріоритети</h1>
            <p>
                IT‑навчання в нашій гімназії базується на практиці, зрозумілому поданні матеріалу, розвитку мислення, підтримці та зацікавленні дитини з першого уроку.
            </p>
        </div>
        <div class="greed">
            <div>
                <h2>Практика з першого заняття</h2>
                <p>
                    Кожен урок передбачає виконання реальних завдань — від написання простих скриптів до створення власних мініпрограм. Це дозволяє учням не просто засвоювати теорію, а одразу застосовувати її на практиці та бачити результат своєї роботи.
                </p>
            </div>
            <div>
                <h2>Зрозуміле пояснення складного</h2>
                <p>
                    Навіть складні технічні теми пояснюються простою мовою з прикладами, ілюстраціями та аналогіями, близькими до щоденного досвіду дитини. Такий підхід допомагає уникнути страху перед ІТ і формує позитивне ставлення до навчання.
                </p>
            </div>
            <div>
                <h2>Розвиток логіки та мислення</h2>
                <p>
                    Завдання спрямовані на формування алгоритмічного та критичного мислення, вміння аналізувати проблему та розбивати її на послідовні кроки. Це навички, які будуть корисні не лише в ІТ, а й у будь‑якій сфері навчання чи життя.
                </p>
            </div>
            <div>
                <h2>Підтримка та зворотний зв’язок</h2>
                <p>
                    Викладачі активно супроводжують учнів під час курсу, дають чіткі пояснення, розбирають помилки та підтримують у складних моментах. Це створює відчуття безпеки й заохочує учня задавати питання без страху бути незрозумілим.
                </p>
            </div>
            <div>
                <h2>Інтерес і мотивація до навчання</h2>
                <p>
                    Уроки побудовані так, щоб бути цікавими — через гейміфікацію, проєкти на актуальні теми та можливість створювати щось власне. Це пробуджує внутрішню мотивацію та бажання продовжувати навчання з цікавістю та натхненням.
                </p>
            </div>
        </div>
    </div>

    <div class="documents">
        <div>
            <h1>Наші додаткові IT курси</h1>
            <p>
                Майже всі курси є безкоштовними для учнів, 
                зарахованих до нашої гімназії. 
                Усі інші можуть придбати доступ до будь-якого курсу
            </p>
        </div>
        <div class="greeed">

        
        <div class="greed">
            
            <div>
                <img src="{{ url_for ('static', filename='images/design.png')}}" alt="picture">
                <h2>Графічний дизайн</h2>
                <h6>40 занять 6 місяців</h6>
                <p>
                    Розкриваємо творчий потенціал та освоюємо професійні програми Figma.
                </p>
            </div>
            <div>
                <img src="{{ url_for ('static', filename='images/pyforchild.png')}}" alt="picture">
                <h2>Python для дітей​</h2>
                <h6>40 занять 6 місяців</h6>
                <p>

                </p>
            </div>
            <div>
                <img src="{{ url_for ('static', filename='images/unity.png')}}" alt="picture">
                <h2>Розробка ігор на Unity​</h2>
                <h6>40 занять 6 місяців</h6>
                <p>
                    Вивчаємо програмування та роботу в Unity, створюємо 2D та 3D-ігри у різних жанрах.
                </p>
            </div>

        </div>
        </div>
    </div>

    <div>
        <div>
            <h1>Середовище для натхнення та розвитку в ІТ</h1>
            <p>
                Навчання, що поєднує практику, мотивацію та підтримку фахівців з реального IT‑середовища. Ваша дитина розвиває не лише технічні навички, а й формується як впевнений, сучасний і цілеспрямований учень із власним портфоліо.
            </p>
        </div>
        <div class="greed">
            <div>
                <h2>Ранній старт в ІТ</h2>
                <p>
                    Ми даємо дітям можливість почати знайомство з IT ще у гімназії, формуючи навички, які зазвичай опановують значно пізніше. Завдяки цьому учні можуть раніше обрати напрямок розвитку та почати заробляти вже у підлітковому віці.
                </p>
            </div>
            <div>
                <h2>Реальні проєкти та портфоліо</h2>
                <p>
                    У процесі навчання діти створюють від 5 до 50 повноцінних проєктів — від сайтів і ботів до ігор і програм. Ці роботи формують якісне портфоліо, яке стане перевагою при вступі або працевлаштуванні.
                </p>
            </div>
            <div>
                <h2>Навчання як гра</h2>
                <p>
                    Кожне заняття побудоване з акцентом на практику, цікаві приклади, змагальні елементи й дослідницькі завдання. Такий підхід допомагає утримати інтерес дитини та зробити навчання захопливим процесом, а не рутинною повинністю.
                </p>
            </div>
            <div>
                <h2>Командна робота та софт‑скіли</h2>
                <p>
                    Окрім технічних знань, учні розвивають навички командної співпраці, критичного мислення, креативності та комунікації. Це готує їх до реального світу, де успіх залежить не лише від уміння кодувати, а й від здатності працювати з іншими.
                </p>
            </div>
            <div>
                <h2>Практики з реального ІТ‑світу</h2>
                <p>
                    Наші викладачі — це не просто педагоги, а досвідчені фахівці з провідних IT‑компаній. Вони передають учням актуальні знання, практичні інструменти та навички, які справді використовуються в індустрії.
                </p>
            </div>
        </div>
    </div>
</div>


<style>
    
</style>
{% endblock %}