{% extends "base.html" %}

{% block title %}Початкова школа - Eleia School{% endblock %}

{% block content %}
<div>
    <div class="section">
        <div class="text">
            <h1>Початкова школа</h1>
            <p>
                Навчання, яке надихає, розвиває інтерес до світу та допомагає знайти відповіді на головні «чому» і «як». 
                Ми створюємо середовище, де діти із задоволенням навчаються, досліджують, спілкуються та розкривають свої таланти.
            </p>
        </div>

        <img src="{{ url_for ('static', filename='images/elementary-school-img.webp')}}" alt="elementary-school-img" width="300" >
    </div>

    <div>
        <h1>Як навчаються в Елеї?</h1>
        <div class="grid">
            
            <div class="step">
                <br>
                <br>
                <h2>Індивідуальний підхід до кожного учня</h2>
                <p>	
                    Ми враховуємо унікальні потреби та інтереси кожної дитини, 
                    адаптуючи методи навчання для максимального розвитку потенціалу.
                </p>
            </div>
            <div class="step">
                <br>
                <br>
                <h2>Інтегроване навчання</h2>
                <p>
                    Предмети поєднуються в тематичні блоки, 
                    що допомагає дітям бачити зв’язки між знаннями та застосовувати їх у реальному житті.
                </p>
            </div>
            <div class="step">
                <br>
                <br>
                <h2>Практичні заняття та проєкти</h2>
                <p>
                    Навчання включає досліди, 
                    творчі проєкти та інтерактивні завдання, 
                    що сприяє глибшому розумінню матеріалу.
                </p>
            </div>
            <div class="step">
                <br>
                <br>
                <h2>Підтримка тьютора</h2>
                <p>
                    Кожен учень має наставника, 
                    який допомагає ставити цілі, 
                    відстежує прогрес та надає індивідуальну підтримку.
                </p>
            </div>
        </div>
    </div>

    <div style="margin-top: 50px;">
        <div>
            <h1>Наші пріоритети</h1>
            <p>
                У початковій школі найважливіше — закласти міцну основу для подальшого навчання та розвитку дитини. 
                Ми віримо, що школа має бути місцем, де дітям цікаво пізнавати світ, 
                безпечно розвивати свої вміння та рости впевненими в собі особистостями.
            </p>
        </div>
        <div class="greed">
            <div>
                <h2>Інтерес і захоплення як головна мотивація</h2>
                <p>
                    Ми будуємо навчальний процес навколо природної цікавості дітей, 
                    використовуючи ігрові формати, творчі завдання та проєкти. 
                    Це допомагає утримувати увагу, зберігати радість від навчання й формувати позитивне ставлення до школи.
                </p>
            </div>
            <div>
                <h2>Освітня база для подальшого зростання</h2>
                <p>
                    Поступово та системно формуємо навички читання, 
                    письма, рахунку, логічного мислення та базові знання про світ. 
                    Закладаємо академічну основу, необхідну для впевненого переходу до середньої школи.
                </p>
            </div>
            <div>
                <h2>Турбота про емоційний комфорт та безпеку</h2>
                <p>
                    Створюємо атмосферу довіри, де кожна дитина відчуває себе почутою та важливою. 
                    Допомагаємо дітям навчитися керувати емоціями, 
                    справлятися зі змінами та зберігати впевненість у собі.
                </p>
            </div>
            <div>
                <h2>Навчання через практику та досвід</h2>
                <p>
                    Закріплюємо знання через інтерактивні формати: 
                    експерименти, майстер-класи, спільні проєкти. 
                    Це допомагає дітям краще зрозуміти матеріал 
                    і застосовувати його у повсякденному житті.
                </p>
            </div>
            <div>
                <h2>Розвиток soft skills</h2>
                <p>
                    Вчимо дітей співпрацювати, 
                    слухати одне одного, презентувати свої ідеї 
                    та аргументовано висловлювати думку. 
                    Ці навички допомагають не лише в навчанні, 
                    а й у спілкуванні та житті загалом.
                </p>
            </div>
        </div>
    </div>

    <div class="documents">
        <div>
            <h1>Наші додаткові IT курси</h1>
            <p>
                Майже всі курси є безкоштовними для учнів, 
                зарахованих до нашої гімназії. 
                Усі інші можуть придбати доступ до будь-якого курсу
            </p>
        </div>
        <div class="greeed">

        
        <div class="greed">
            
            <div>
                <img src="{{ url_for ('static', filename='images/design.png')}}" alt="picture">
                <h2>Графічний дизайн</h2>
                <h6>40 занять 6 місяців</h6>
                <p>
                    Розкриваємо творчий потенціал та освоюємо професійні програми Figma.
                </p>
            </div>
            <div>
                <img src="{{ url_for ('static', filename='images/pyforchild.png')}}" alt="picture">
                <h2>Python для дітей​</h2>
                <h6>40 занять 6 місяців</h6>
                <p>

                </p>
            </div>
            <div>
                <img src="{{ url_for ('static', filename='images/unity.png')}}" alt="picture">
                <h2>Розробка ігор на Unity​</h2>
                <h6>40 занять 6 місяців</h6>
                <p>
                    Вивчаємо програмування та роботу в Unity, створюємо 2D та 3D-ігри у різних жанрах.
                </p>
            </div>

        </div>
        </div>
    </div>

    <div>
        <div>
            <h1>Збалансований розпорядок дня</h1>
            <p>
                Наш розклад поєднує навчальні заняття, 
                активні перерви, творчі студії та відпочинок, 
                забезпечуючи дітям комфортне та ефективне навчання.
            </p>
        </div>
        <div class="grid">
            <div>
                <h2 class="not-h2">08:30</h2>
                <p>Прибуття та ранкове коло</p>
            </div>
            <div>
                <h2 class="not-h2">09:00</h2>
                <p>Навчальні заняття</p>
            </div>
            <div>
                <h2 class="not-h2">11:00</h2>
                <p>Активна перерва</p>
            </div>
            <div>
                <h2 class="not-h2">11:30</h2>
                <p>Продовження занять</p>
            </div>
            <div>
                <h2 class="not-h2">13:00</h2>
                <p>Обід та відпочинок</p>
            </div>
            <div>
                <h2 class="not-h2">14:00</h2>
                <p>Творчі та спортивні студії</p>
            </div>
            <div>
                <h2 class="not-h2">16:30</h2>
                <p>Зустріч з батьками</p>
            </div>
        </div>
    </div>
</div>

<style>


</style>

{% endblock %}
