{% extends "base.html" %}

{% block title %}Про Програму вступу - Eleia School{% endblock %}

{% block content %}
<div>
    <div class="section">
        <div class="text">
            <h1>Гімназія</h1>
            <p>
                Знання для впевненого майбутнього. 
                У гімнізії ми не просто навчаємо — 
                ми допомагаємо учням знайти себе, 
                розвинути критичне мислення та 
                застосовувати знання в реальному житті.
            </p>
        </div>
        
        <img src="{{ url_for('static', filename='images/school-img.webp') }}" alt="Gimnazia", width="300">
    </div>

    <div class="learn">
        <h1>Як навчаються в Елеї?</h1>
        <div class="grid">
            <div class="step">
                <br>
                <br>
                <h2>Учень у центрі уваги</h2>
                <p>
                    У гімназії ми підтримуємо індивідуальність кожного — враховуємо темп навчання, 
                    інтереси та потреби підлітків. Діти отримують простір для самовираження, 
                    вчаться робити вибір і відповідати за нього.
                </p>
            </div>
            <div class="step">
                <br>
                <br>
                <h2>Живі й захопливі уроки</h2>
                <p>
                    Навчання проходить у динамічному форматі — з проєктами, 
                    дискусіями, рольовими іграми та груповою роботою. 
                    Ми мотивуємо учнів вчитися не з обов’язку, а з інтересу, 
                    щоб знання мали сенс.
                </p>
            </div>
            <div class="step">
                <br>
                <br>
                <h2>Підтримка поруч щодня</h2>
                <p>
                    Класний керівник, куратор і вчителі завжди на зв’язку з учнем і батьками. 
                    Ми допомагаємо розвивати навички самоорганізації, 
                    працювати з емоціями та будувати здорові стосунки в колективі.
                </p>
            </div>
            <div class="step">
                <br>
                <br>
                <h2>Навчання для життя</h2>
                <p>
                   У гімназії ми готуємо учнів до дорослого світу — вчимо аналізувати, 
                   мислити критично, працювати з інформацією. 
                   Кожна тема має практичне застосування, 
                   а знання — реальний зміст і користь. 
                </p>
            </div>
        </div>
    </div>

    <div>
        <div>
            <h1>Наші пріоритети</h1>
            <p>
                У гімназії ми зосереджені не лише на академічних результатах, 
                а й на розвитку особистості, самостійності та життєвих навичок учнів. 
                Наші пріоритети допомагають підліткам краще пізнати себе, 
                навчитися працювати з інформацією та будувати власну освітню траєкторію.
            </p>
            <div class="greed">
                <div>
                    <h2>Баланс академічного та особистісного розвитку</h2>
                    <p>
                        Ми однаково цінуємо успішність у навчанні та розвиток м’яких навичок: 
                        комунікації, емоційного інтелекту, вміння працювати в команді. 
                        Гімназія — це простір не лише для знань, а й для формування особистості.
                    </p>
                </div>
                <div>
                    <h2>Розвиток критичного мислення</h2>
                    <p>
                        Учні не просто запам’ятовують факти, 
                        а навчаються аналізувати, 
                        ставити запитання та аргументовано висловлювати свою думку. 
                        Це основа для усвідомленого вибору в подальшому житті.
                    </p>
                </div>
                <div>
                    <h2>Практичне застосування знань</h2>
                    <p>
                        Уроки орієнтовані на життя: кожна тема закріплюється через практику, 
                        проєкти, дослідження або дискусії. Учні бачать сенс у тому, що вивчають, 
                        і розуміють, де це знадобиться.
                    </p>
                </div>
                <div>
                    <h2>Підтримка в період змін</h2>
                    <p>
                        Ми створюємо середовище довіри та взаємоповаги, 
                        яке допомагає пройти непростий вік переходу 
                        від дитинства до підліткового періоду. 
                        Педагоги, куратори й психологи працюють як єдина команда підтримки.
                    </p>
                </div>
                <div>
                    <h2>Формування самостійності</h2>
                    <p>
                        У гімназії діти вчаться планувати час, 
                        ставити цілі та нести відповідальність 
                        за власні результати. Ми допомагаємо 
                        їм переходити від зовнішньої мотивації до внутрішньої.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="documents">
        <div>
            <h1>Наші додаткові IT курси</h1>
            <p>
                Майже всі курси є безкоштовними для учнів, 
                зарахованих до нашої гімназії. 
                Усі інші можуть придбати доступ до будь-якого курсу
            </p>
        </div>
        <div class="greeed">

        
        <div class="greed">
            
            <div>
                <img src="{{ url_for ('static', filename='images/design.png')}}" alt="picture">
                <h2>Графічний дизайн</h2>
                <h6>40 занять 6 місяців</h6>
                <p>
                    Розкриваємо творчий потенціал та освоюємо професійні програми Figma.
                </p>
            </div>
            <div>
                <img src="{{ url_for ('static', filename='images/pyforchild.png')}}" alt="picture">
                <h2>Python для дітей​</h2>
                <h6>40 занять 6 місяців</h6>
                <p>

                </p>
            </div>
            <div>
                <img src="{{ url_for ('static', filename='images/unity.png')}}" alt="picture">
                <h2>Розробка ігор на Unity​</h2>
                <h6>40 занять 6 місяців</h6>
                <p>
                    Вивчаємо програмування та роботу в Unity, створюємо 2D та 3D-ігри у різних жанрах.
                </p>
            </div>

        </div>
        </div>
    </div>

    <div>
        <div>
            <h1>Збалансований розпорядок дня</h1>
            <p>
                У гімназії ми дотримуємося розкладу, 
                який поєднує навчання, відпочинок і розвиток особистих інтересів. 
                Завдяки зміні активностей, регулярним перервам та можливості обирати факультативи, 
                учні залишаються зосередженими, мотивованими й не відчувають перевантаження, 
                зберігаючи енергію та бажання вчитися кожного дня.
            </p>
        </div>
        <div class="grid">
            <div>
                <h2 class="not-h2">08:30 - 08:40</h2>
                <p>Сніданок</p>
            </div>
            <div>
                <h2 class="not-h2">08:40</h2>
                <p>Ранкове коло</p>
            </div>
            <div>
                <h2 class="not-h2">08:50 - 12:10</h2>
                <p>Навчальні заняття</p>
            </div>
            <div>
                <h2 class="not-h2">12:10 - 13:10</h2>
                <p>Обід, прогулянка</p>
            </div>
            <div>
                <h2 class="not-h2">15:10 - 16:10</h2>
                <p>Індивідуальні консультації, самопідготовка, розвиваючі студії</p>
            </div>
            <div>
                <h2 class="not-h2">16:10 - 16:30</h2>
                <p>Полуденок</p>
            </div>
            <div>
                <h2 class="not-h2">16:30</h2>
                <p>Зустріч з батьками</p>
            </div>
        </div>
    </div>


</div>

<style>

    .learn {
        margin-bottom: 50px;
    }
</style>
{% endblock %}
