{% extends "base.html" %}

{% block title %}Про заклад - Eleia School{% endblock %}

{% block content %}
<div>
    <div class="section">
        <div class="text">
            <h1>Online навчання</h1>
            <p>
                Сучасна освіта без меж. 
                Гнучкий графік, інтерактивні уроки та підтримка вчителів — все це доступно з будь-якої точки світу
            </p>
        </div>
        
        <img src="{{ url_for('static', filename='images/online-school-img.webp') }}" alt="Gimnazia", width="300">
    </div>

    <div style="margin-top: 50px;">
        <div>
            <h1>Кому буде зручно та корисно</h1>
            <p>
                Дистанційний формат — це сучасне рішення для тих, 
                хто цінує гнучкість, якісну освіту та індивідуальний підхід. 
                Ми забезпечуємо стабільне навчання для дітей із 
                різними потребами та життєвими обставинами.
            </p>
        </div>
        <div class="greed">
            <div>
                <h2>Сім’ям, які часто подорожують або проживають за кордоном</h2>
                <p>
                    Дитина навчається без перерви, незалежно від країни перебування та часових поясів, 
                    маючи постійний доступ до всіх уроків і матеріалів. 
                    Усі навчальні завдання та комунікація з учителями 
                    організовані через онлайн‑платформу Google Classroom. 
                    Це дозволяє дотримуватись стабільного графіка навчання, 
                    навіть якщо родина змінює місце проживання.
                </p>
            </div>
            <div>
                <h2>Учням із додатковими заняттями або спортивними тренуваннями</h2>
                <p>
                    Гнучкий розклад дає можливість поєднувати навчання зі спортом, 
                    музикою, творчими гуртками чи іншими активностями без втрати якості освіти. 
                    Учень може обирати час для опрацювання матеріалів та проходження завдань, 
                    враховуючи власний розклад. Це дозволяє зберігати баланс між навчанням і улюбленими заняттями.
                </p>
            </div>
            <div>
                <h2>Дітям, які потребують індивідуального темпу навчання</h2>
                <p>
                    Онлайн-формат дає можливість вчитися у власному темпі — хтось може проходити програму швидше, 
                    хтось — зупинитися на складних темах довше. Учні отримують персоналізовану підтримку від учителів, 
                    які допомагають розібрати незрозумілий матеріал. Це створює відчуття впевненості та знижує рівень 
                    стресу під час навчання.
                </p>
            </div>
            <div>
                <h2>Сім’ям, які обирають домашнє навчання або альтернативну освіту</h2>
                <p>
                    Дистанційна форма поєднує свободу вибору та чітку структуру уроків із повноцінною педагогічною підтримкою. 
                    Учень навчається за затвердженою програмою, має доступ до матеріалів і регулярний зворотний зв’язок 
                    від учителів. Це допомагає організувати якісне домашнє навчання без хаосу та перевантаження.
                </p>
            </div>
            <div>
                <h2>Тим, хто прагне навчатися в безпечному та комфортному середовищі</h2>
                <p>
                    нлайн-формат дозволяє навчатися в звичній обстановці вдома, 
                    що позитивно впливає на емоційний стан дитини. 
                    Відсутність перевантажень і зайвого стресу допомагає зберігати мотивацію та радість від навчання. 
                    Учень самостійно планує час для уроків, відпочинку та інших важливих справ, зберігаючи здоровий баланс.
                </p>
            </div>
        </div>
    </div>

    <div>
        <h1>Як навчаються в Online гімназії Елея?</h1>
        <div class="greed">
            <div class="step">
                <br>
                <br>
                <h2>Реєстрація та підключення до платформи</h2>
                <p>
                    Кожен учень отримує доступ до Google Classroom і приєднується до відповідного класу. Усі навчальні предмети, матеріали та календар подій доступні в особистому кабінеті.
                </p>
            </div>
            <div class="step">
                <br>
                <br>
                <h2>Отримання навчальних матеріалів та завдань</h2>
                <p>
                    Вчителі регулярно публікують уроки, відео, презентації та завдання для самостійної роботи. Учень має змогу заздалегідь ознайомитись із темами та планом на тиждень.
                </p>
            </div>
            <div class="step">
                <br>
                <br>
                <h2>Виконання завдань та самостійна робота</h2>
                <p>
                    Учні виконують завдання в зручний для себе час та надсилають роботи через Google Classroom. Кожне завдання має чіткі дедлайни та рекомендації для якісного виконання.
                </p>
            </div>
            <div class="step">
                <br>
                <br>
                <h2>Перевірка робіт і зворотний зв’язок</h2>
                <p>
                    Вчителі перевіряють надіслані роботи, виставляють оцінки та детально коментують відповіді учнів. Зворотний зв’язок допомагає краще зрозуміти матеріал і виправити помилки.
                </p>
            </div>
            <div class="step">
                <br>
                <br>
                <h2>Онлайн-уроки та консультації з викладачами</h2>
                <p>
                    Регулярні відеоуроки та індивідуальні консультації відбуваються через Google Meet. Це дає можливість обговорити складні теми, поставити запитання та отримати підтримку.
                </p>
            </div>
        </div>
    </div>

    <div class="documents">
        <div>
            <h1>Наші додаткові IT курси</h1>
            <p>
                Майже всі курси є безкоштовними для учнів, 
                зарахованих до нашої гімназії. 
                Усі інші можуть придбати доступ до будь-якого курсу
            </p>
        </div>
        <div class="greeed">

        
        <div class="greed">
            
            <div>
                <img src="{{ url_for ('static', filename='images/design.png')}}" alt="picture">
                <h2>Графічний дизайн</h2>
                <h6>40 занять 6 місяців</h6>
                <p>
                    Розкриваємо творчий потенціал та освоюємо професійні програми Figma.
                </p>
            </div>
            <div>
                <img src="{{ url_for ('static', filename='images/pyforchild.png')}}" alt="picture">
                <h2>Python для дітей​</h2>
                <h6>40 занять 6 місяців</h6>
                <p>

                </p>
            </div>
            <div>
                <img src="{{ url_for ('static', filename='images/unity.png')}}" alt="picture">
                <h2>Розробка ігор на Unity​</h2>
                <h6>40 занять 6 місяців</h6>
                <p>
                    Вивчаємо програмування та роботу в Unity, створюємо 2D та 3D-ігри у різних жанрах.
                </p>
            </div>

        </div>
        </div>
    </div>
</div>


{% endblock %}